@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@500&family=Roboto+Condensed:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    font-weight: 800;
    font-size: 1.3rem;
}

.menu .title h1 {
    color: #D6000D;
    font-size: 3rem;
    font-style: italic;
}

.menu .title a {
    text-decoration: none;
}

.menu .title span {
    color: #000;
}

.menu .options ul{
    display: flex;
    list-style: none;
}

.menu .options li a{
    color: #000;
    text-decoration: none;
    padding: 5px 30px;
    transition: color .3s ease;
}

.menu .options li:not(.login-btn) :hover {
    color: #D6000D;
}

.menu .options .red-btn a{
    color: #fff;
    background-color: #D6000D;
    border-radius: 7px;
    padding: 5px 30px;
}

.apresentation {
    display: flex;
    justify-content: space-evenly;
    width: 1100px;
    height: 500px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.apresentation .img {
    margin: 40px;
}

.apresentation .img img {
    width: 100%;
    height: 100%;
}

.apresentation .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-size: 2.3rem;
}

.apresentation .text button {
    padding: 10px 20px;
    margin-top: 40px;
    width: 200px;
    font-size: 1.3rem;
}

.apresentation .text h1 {
    color: #D6000D;
}

.services {
    display: flex;
    justify-content: center;
    width: 1100px;
    height: 500px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

button:hover,
.menu .options .login-btn a:hover {
    background-color: #222;
}

button,
.menu .options .login-btn a{
    transition: all .4s ease;
}

.services .txt {
    font-size: 1.3rem;
    height: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.services .txt form {
    margin-top: 50px;
    font-size: 2rem;
}

.services .txt input {
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    color: #000;
    background-color: #dfdddd;
}

.services ul {
    list-style: none;
}

.services ul li {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.services ul li i {
    color: #D6000D;
}

.services .img img {
    width: 100%;
    height: 90%;
}

.services button,
.services input {
    padding: 10px 20px;
    font-size: 1.2rem;
}

.depoiments {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.depoiment {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 150px;
    width: 550px;
    padding: 20px;
    margin-left: 30px;
    border-radius: 15px;
    background-color: #dfdddd;
}

.dpm-txt {
    display: flex;
    flex-direction: column;
    max-width: 440px;
}

.depoiment .user-img {
    width: 100px;
    height: 100px;
    margin-right: 30px;
    background-color: #D6000D;
    border-radius: 50%;
}

footer {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    background-color: #000;
}

footer p,
footer h1,
footer h2 {
    color: #fff;
    margin-bottom: 20px;
}

footer .social ul {
    display: flex;
    list-style: none;
}

.social li a {
    padding: 10px;
    color: #D6000D;
    font-size: 2em;
}

.red-btn {
    color: #fff;
    background-color: #D6000D;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

@media (max-width: 1100px) {
    .apresentation,
    .services {
        width: 800px;
    }
}

@media (max-width: 800px) {
    .menu {
        flex-direction: column;
    }

    .apresentation,
    .services {
        height: auto;
        width: 80%;
    }
    .login-btn {
        display: none;
    }
    
    .menu .title {
        margin-bottom: 20px;
    }

    .apresentation .text button {
        width: 80%;
    }

    .apresentation .text {
        font-size: 1.9rem;
    }

    .apresentation {
        margin-top: 0px;
        flex-direction: column;
    }
    
    .services {
        flex-direction: column-reverse;
    }

    .services .txt {
        align-items: center;
    }
    
    .apresentation .text,
    .services .txt form{
        text-align: center;
        align-items: center;
    }

    .services .txt form input,
    .services .txt form button{
        margin-bottom: 20px;
        width: 70%;
    }

    .services .txt form input {
        padding: 10px 0;
    }

    .depoiments {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .depoiment {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .depoiment .dpm-txt {
        max-width: 55%;
    }

    footer {
        flex-direction: column;
        justify-content: flex-end;
    }

    footer .logo {
        font-size: 1.7rem;
        text-align: center;
    }

    .social i {
        font-size: 2.5rem;
    }

}